.myorders{
    margin: 50px 0px;
}

.myorders .container{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    color: #454545;
    border: 1px solid indigo;
}
.order img{
    width: 50px;
}
.order p span{
    color: indigo;
}
.order p b{
    color: #454545;
    font-weight: 500;

}

.order button{
    background-color: indigo;
    color: #fff;
    border: none;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:900px) {
    .order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;   

    }
    .order button{
        font-size: 10px ;
    }
}
