.login{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.popup{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.title img{
    width: 16px;
    cursor: pointer;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;

}

.popup button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: indigo;
    font-size: 15px;
    cursor: pointer;
}
.popup button:hover{
    background-color: black;
    color: white;
}
.condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.condition input{
    margin-top: 5px;
}
.popup p span{
    color: indigo;
    font-weight: 500;
    cursor: pointer;
}
